






<div class="text-center">

    <h1 class="font-weight-light text-center  mt-4 mb-0" style="padding-top:20px"><strong>Nemate dozvolu za pristup ovoj stranici.</strong></h1>
    <hr class="mt-2 mb-5">
    <a asp-action="Index" asp-controller="Home"><h3><i class="fa fa-paw"></i>  Vratite se na početnu stranu</h3></a>
    <img src="~/images/accesdenied.jpg" style="height:300px; width:300px" />
</div>





<link href="~/content/site.css" rel="stylesheet" />