

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    Došlo je do greške prilikom obrađivanja zahteva
                </h2>
                <h2>
                    @if (ViewBag.message != null)@ViewBag.message
                </h2>
                <div class="error-actions">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Pocetna strana
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/content/site.css" rel="stylesheet" />


















