
@{
    ViewData["Title"] = "NotFound";
}

<h2>@ViewBag.ErrorMessage</h2>
<a asp-action="Index" asp-controller="Home">Povratak na početnu stranu</a>



<link href="~/content/site.css" rel="stylesheet" />