@model Obuka_Vojnih_Pasa.ViewModels.PasViewModel.InsertPasViewModel

@{
    ViewData["Title"] = "Create";
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<!DOCTYPE html>
<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>


<body>

    <div class="edit">
        <div class="container">
            <div class="row main">
                <div class="main-login main-center">
                    <h5>Unos podataka o psu</h5>
                    <form method="post" asp-action="Create">

                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Broj zdravstvene knjižice</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-notes-medical fa" aria-hidden="true"></i></span>
                                    <input asp-for="BrojZdravstveneKnjizice" class="form-control" />
                                </div>
                                <span asp-validation-for="BrojZdravstveneKnjizice" class="zadatak_invalid"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Ime psa</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dog fa" aria-hidden="true"></i></span>
                                    <input asp-for="Ime" class="form-control" />

                                </div>
                                <span asp-validation-for="Ime" class="zadatak_invalid"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Rasa</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bone fa" aria-hidden="true"></i></span>


                                    <select asp-for="Rasa" class="form-control" asp-items="ViewBag.Rase"></select>



                                </div>
                                <span asp-validation-for="Rasa" class="zadatak_invalid"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Pol</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-venus-mars fa" aria-hidden="true"></i></span>

                                    <select asp-for="Pol" class="form-control" asp-items="ViewBag.Pol"></select>



                                </div>
                                <span asp-validation-for="Pol" class="zadatak_invalid"></span>

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Datum rođenja</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar-alt fa" aria-hidden="true"></i></span>
                                    <input asp-for="DatumRodjenja" class="form-control" />
                                </div>
                                <span asp-validation-for="DatumRodjenja" class="zadatak_invalid"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="cols-sm-2 control-label">Obuka</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-basketball-ball fa" aria-hidden="true"></i></span>
                                    <select asp-for="ObukaId" class="form-control" asp-items="ViewBag.ObukaId"></select>

                                </div>
                                <span asp-validation-for="ObukaId" class="zadatak_invalid"></span>

                            </div>
                        </div>



                        <div class="form-group" style="padding-top:10px">

                            <input type="submit" class="btn-submit" value="Sačuvaj podatke" />
                            <a asp-action="Search" class="btn-cancel" style="margin-left: 20px; width: 140px; line-height:1.3">Otkaži</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>